body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.counter {
  padding: 3rem;
  background: #f0f0f0;
  border-radius: 2rem;
}

.main-title {
  text-align: center;
  font-size: 2rem;
}

.counter span {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.increment {
  background: rgb(109, 211, 109);
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.decrement {
  background: rgb(233, 18, 18);
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
